body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.no-padding{
    padding: 0px !important;
}


footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-top: 1px solid #ccc;
}

footer a:hover {
    text-decoration: underline;
}

footer .d-flex.justify-content-between {
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

footer .d-flex.justify-content-between p,
footer .d-flex.justify-content-between a {
    margin: 0;
    line-height: 1.5;
}

footer .d-flex.d-flex.justify-content-between a{
    margin-right: 12px;
}

footer .d-flex.justify-content-between .copyright-text {
    text-align: center;
    flex-grow: 1;
}

footer .d-flex.align-items-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}



