{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="container my-4 flex-grow-1">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Row</th>
                    <th scope="col">State</th>
                    <th scope="col">Title</th>
                    <th scope="col">Del/Edit</th>
                    <th scope="col">Done</th>
                </tr>
            </thead>
            <tbody>
                {% for tsk in task_list %}
                    <tr>
                        <th scope="row" style="width:30px;">{{ forloop.counter }}</th>
                        <td style="width:30px;">
                            {% if tsk.status %}
                                <img src="{% static 'icons/green-check.svg' %}" alt="green check" width="30px" heigh="30px">
                            {% else %}
                                <img src="{% static 'icons/gray-circle.svg' %}" alt="green check" width="30px" heigh="30px">
                            {% endif %}
                        </td>

                        <!-- For Edit -->
                        <td >
                            {{ tsk.title }}
                        </td>
                        <!-- -------- -->

                        <td style="width:120px;">
                            <a class="btn btn-danger btn-sm">Del</a>
                            <a class="btn btn-secondary btn-sm" href="{% url 'update_task' tsk.pk %}">Edit</a>
                        </td>
                        <td style="width:100px;">
                            <button class="btn btn-success btn-sm">Done</button>
                            
                        </td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
    </main>
{% endblock %}

        
